* {
  margin: 0px;
  padding: 0px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postCard {
  width: 50vw;
  text-align: center;
  border: 1px solid gray;
  padding: 20px;
}

.postList {
  gap: 12px;
}

a {
  text-decoration: none;
  color: darkolivegreen;
}

nav {
  width: 99vw;
  height: 5vh;
  background-color: darkolivegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 10px;
}

nav > a:hover {
  color: brown;
  transition: all ease-in-out 0.5s;
}

.postdetails {
  gap: 30px;
  text-align: center;
}

.gap {
  gap: 20px;
}
